.main{
    width:88%;
    margin:0 auto;
    padding:1em;
    /*border-style: solid;
    border-width: 1px;
    border-radius: 8px;*/
    height: 57%;
   }

   #sugerencias {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    background-color:#fff;;
    height: auto;
    position: absolute;
    top: 85px;
    z-index: 9999;
    width: 460px;
}

.titulos{
  font-family: arial;
  font-weight: 600;
}
 
.top-div{
  margin-top: 0px;
}

.contenedormap1{
  width: 100%;
  margin: 0 auto;
  padding: 0.2em;
  height: 63%;
}

#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}


#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.responsive{display:none;}   


.mapprin{
  height: 92%;
}

.mapmos{
  height: 100%;
}
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }


  .contenedorbs{
    width: 45%;
    margin-left: auto;
    padding: 1em;
}

.contenerdorslc{
  float: left;
  width: 70%;

 }

 .divbtn.mx-auto{
  margin-right: inherit !important;
}

.divbtnmostrar{
  padding-left: 33%;
  margin-left: 12%;

}

.divtitulo{
  text-align: center;
  width: 100%;
  height: 5%;
  /* margin: 1px auto; */
  margin-top: 18px;
}


#mensajesgenerales{
  padding: 5px;
}


.btnactobservacion{
  margin-left: auto!important;
  padding: 9px;
  padding-left: 54%;
}


.contenedormap{
  width: 100%;
  margin: 0 auto;
  padding: 0.2em;
  height: 88%;
}

.contenedormaprutas{
  width: 100%;
  height: 84%;
}
/*-------------- Cambios de estilo nabvar ---------------------*/
.bar-color  {
  background-color:  #5b8ccc  !important;
}
img{
  height: 50px;
  width: 50px;
  border-radius: 60px ;
}

/*-------------------- Estilos de PDF Table ---------------------*/
.tablepdf {
  border-collapse: collapse;
  width: 1200px;
}


/*-------------- Estilo de alerta ---------------------*/
.cod-infraestructura{
  padding: 10px 180px 10px 0px; 
}
.fecha-creacion {
  padding: 10px 200px 10px 0px;
  /* margin-bottom: 10px; */
}

.fecha-total {
  padding: 10px 255px 10px 0px;

}
.fecha-acordar {
  padding: 10px 230px 10px 0px;
margin-bottom: 10px;
}
.inputObservacion{
  margin: 10px;
}
.nombre_area, .nombre_infra{
  font-weight: 500;
  font-size: 28px;
}

/*-------------- Estilo de reporte PDF ---------------------*/
/* table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  width: 100%;
}

thead th {
  border: 1px solid black;
}

tbody td {
  border: 1px solid black;
}

.cabecera-fila {
  background-color: #9dcdec;
  text-align: center;
}

.cabecera-fila td,
.cabecera {
  text-align: center;
}

.column-1:nth-child(1),
.column-2:nth-child(2) {
  width: 320px;

}

td.estado-vacio {
  background-color: #f2f2f2;

}

td.estado-R {
  background-color: #0a5e9c;
  color: #f2f2f2;
  text-align: center;
  height: 30px;

}

td.estado-NR {
  background-color: #E72b3c;
  color: #f2f2f2;
  text-align: center;
  height: 30px;
}

td.estado-OB {
  background-color: #F39A11;
  color: #f2f2f2;
  text-align: center;
  height: 30px;
}

.mover-derecha {
  padding-left: 20px;
}

.ancho {
  padding-left: 10px;
  border: none;
}

.borde {
  border-right: 2.4px solid #000;

}

td.cabecera-fila {
  width: 30px;
  height: 30px;
} */
/*---------------------------------------------------------*/

/*-------------- Estilo de responsive ---------------------*/
@media screen and (max-width:992px){
.top-div{
  margin-top: 61px;
}

    .main{
        border-width: 1px;
        border-radius: 8px; 	
        height: 57%;
    } 

 
    .contenedorbs {
      width:100%;
      margin:0 auto;
      padding:1em;  
    }
  
       
    .responsive{
        display:block;
    }   

    .divtitulo{
      text-align: center;
      width: 100%;
      height: 5%;
      /* margin: 1px auto; */
      margin-top: 18px;
   }

  #mensajesgenerales{
    padding: 5px;
  }

  .btnactobservacion{
    margin-left: auto!important;
    padding: 9px;
    padding-left: 54%;
  }


  .contenedormap{
    width: 100%;
    margin: 0 auto;
    padding: 0.2em;
    height: 88%;
  }

  .contenedormaprutas{
    width: 100%;
    height: 84%;
  }

  .contenedormap1{
    width: 100%;
    margin: 0 auto;
    padding: 0.2em;
    height: 63%;
  }
  
}

@media screen and (max-width:422px){
  .bt-guardar {
    padding: 10px 115px;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height: 100vh;  */
  }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* .bt-guardar {
      padding: 10px 250px;
      display: flex;
      justify-content: center;
      align-items: center; 
    
    } */
  
  } 