.main{
    width:88%;
    margin:0 auto;
    padding:1em;
    /*border-style: solid;
    border-width: 1px;
    border-radius: 8px;*/
    height: 57%;
   }

   #sugerencias {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    background-color:#fff;;
    height: auto;
    position: absolute;
    top: 85px;
    z-index: 9999;
    width: 460px;
}

.titulos{
  font-family: arial;
  font-weight: 600;
}
 
.top-div{
  margin-top: 0px;
}

.contenedormap1{
  width: 100%;
  margin: 0 auto;
  padding: 0.2em;
  height: 63%;
}

#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}


#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.responsive{display:none;}   


.mapprin{
  height: 92%;
}

.mapmos{
  height: 100%;
}
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }


  .contenedorbs{
    width: 45%;
    margin-left: auto;
    padding: 1em;
}

.contenerdorslc{
  float: left;
  width: 70%;

 }

 .divbtn.mx-auto{
  margin-right: inherit !important;
}

.divbtnmostrar{
  padding-left: 33%;
  margin-left: 12%;

}

.divtitulo{
  text-align: center;
  width: 100%;
  height: 5%;
  /* margin: 1px auto; */
  margin-top: 18px;
}


#mensajesgenerales{
  padding: 5px;
}


.btnactobservacion{
  margin-left: auto!important;
  padding: 9px;
  padding-left: 54%;
}


.contenedormap{
  width: 100%;
  margin: 0 auto;
  padding: 0.2em;
  height: 88%;
}

.contenedormaprutas{
  width: 100%;
  height: 84%;
}
.title{
  margin-top: 10px;
  font-weight: 600;
}
.thtitulo{
  text-align: center!important;
}
/*-------------- Cambios de estilo nabvar ---------------------*/
.bar-color  {
  background-color:  #5b8ccc  !important;
}
img{
  height: 50px;
  width: 50px;
  border-radius: 60px ;
}

/*-------------------- Estilos de PDF Table ---------------------*/
.tablepdf {
  border-collapse: collapse;
  width: 1200px;
}


/*-------------- Estilo de alerta ---------------------*/
.cod-infraestructura{
  padding: 10px 180px 10px 0px; 
}
.fecha-creacion {
  padding: 10px 200px 10px 0px;
  /* margin-bottom: 10px; */
}

.fecha-total {
  padding: 10px 255px 10px 0px;

}
.fecha-acordar {
  padding: 10px 230px 10px 0px;
margin-bottom: 10px;
}
.inputObservacion{
  margin: 10px;
}
.nombre_area, .nombre_infra{
  font-weight: 500;
  font-size: 28px;
}

/*-------------- Estilo de MENUBAR ---------------------*/

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #5b8ccc;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
.group{
display: flex;
align-items: center;
}
header ul{
  position: relative;
  display:flex;
  gap:30px;

}
header ul li{
  list-style: none;
  color: #fff;
  font-weight: 100;
}
header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
header ul li a::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100px;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
span.icon {
  display: flex;
 
}
header .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
}
.searchBox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #5b8ccc;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox.active{
  right: 0;
}
.searchBox input{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #333;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.searchBtn{
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}
.searchBtn.active{
  left: 0;
}
.closeBtn{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closeBtn.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.menuToggle{
  position: relative;
  display: none;
}
/*-----------------------------------*/


/*-------------- Estilo de responsive ---------------------*/
@media screen and (max-width:992px){

  header{
    padding: 50px 10px;
  }
  header .logo{
    margin-bottom: 20px;
  }
  
}
@media screen and (max-width:800px){
  /*-------------- Estilo de MENUBAR ---------------------*/
  .searchBtn{
    left: 0;
  }
.menuToggle{
  position: absolute;
  display: block;
  font-size: 2em;
  cursor: pointer;
  transform: translateX(30px);
  z-index: 10;
}

header .navigation{
position: absolute;
opacity: 0;
visibility: hidden;
left: 100%;
}
header.open .navigation{
  top: 80px;
  opacity: 1;
  visibility: visible;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #5b8ccc;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 40px;
  border-top: 1px solid rgba(0,0,0,0.05);
}
header.open .navigation li a{
  font-size: 1.25em;
}
.hide{
  display: none;
}
/*-------------------------------------------------------------*/
/*-------------- Estilo de BODYFORM ---------------------*/
section {
  margin-top: 100px;
}
/*-------------------------------------------------------*/
}

@media screen and (max-width:422px){
  .bt-guardar {
    padding: 10px 115px;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height: 100vh;  */
  }
  .container-fluid{
    display: flex !important;
    position: relative !important;
  }
  }

  /* @media only screen and (min-width: 768px) and (max-width: 991px) {
    header{
      padding: 50px 10px;
    }
    header .logo{
      margin-bottom: 20px;
    }
  
  }  */